section.video{
	margin-bottom: 0px;
}
section.que-es{

}

section.como{

	//padding-top: 50px;
	h2{
		//margin-left: 70px;
		margin-top: 60px;
		@include font-size(24px);
		margin-left: 25px;
		margin-bottom: 20px;
		color: #ffbc06;

	}
	.bg-como{
		position: absolute;
		@include centerer(true, false);
		top:0;
		z-index: -1;
	}
	.llamado{
		@include font-size(18px);
	}
	p{
		@include font-size(15px);
		color: #8a8989;
		//padding: 0;
	}
}

section.historia{
		h2{
			font-family: $black;
			@include font-size(28px);
			color: white;
			text-transform: uppercase;
			font-style: italic;
			margin-bottom: 20px;
			margin-left: 25px;
			text-align: left;
			//margin-top: 200px;
			margin-top: 50px;
		}
		.bg-historia{
			position: absolute;
			@include centerer(true, false);
			top:0;
			z-index: -1;
		}
		.caja-texto-sombra{
			padding: 20px;
			p{
				color: #8a8989;
				&.texto-azul{
					color: #0870a6;
					margin-bottom: 20px;
					line-height: 18px;
				}
			}
		}

}
section.problema{
	padding-bottom: 30px;
	.caja-texto-sombra{
		padding: 10px;
	}
	position: relative;
	//padding-top: 30px;
	background-color: #fff;
		.bg-obesidad{
			position: absolute;
			@include centerer(true, false);
			top:0;
			z-index: 0;
		}
		h2{
			font-family: $black;
			@include font-size(28px);
			color: #2362a3;
			text-transform: uppercase;
			font-style: italic;
			margin-bottom: 20px;
			margin-left: 25px;
			margin-top: 60px;
			text-align: left;
		}
		h3{
			@extend h2;
			@include font-size(24px);
			color: white;
			z-index: 1;
			position: relative;
			margin-top: 20px;

		}
		h4{
			@extend h2;
			@include font-size(20px);
			color: #949494;
			display: inline-block;
			border-bottom: 1px solid #f57527;
			margin-left: 0;
			text-transform: none;
			//margin-top: 0;
			padding: 0;
			margin: 0;
			//margin-bottom: 20px;


		}
		ul{
			border: none;
		}
} // problema
section.empresas{
	padding: 30px 30px 50px 30px;
	position: relative;
		h2{
			font-family: $black;
			@include font-size(28px);
			color: #fff;
			text-transform: uppercase;
			font-style: italic;
			margin-bottom: 20px;
			//margin-left: 70px;
			text-align: left;
			border-bottom: 1px solid $amarillo;
			//margin-bottom: 20px;
			line-height: 48px;
		}
		h3{
			@extend h2;
			@include font-size(45px);
			color: white;

		}
		h4{
			@extend h2;
			@include font-size(40px);
			color: #949494;
			display: inline-block;
			border-bottom: 1px solid $naranjo;
			margin-left: 0;
			text-transform: none;


		}
		p{
			font-family: $medium;
			@include font-size(16px);
			color: #fff;
			line-height: 20px;
				&.texto-amarillo{
					color: #f8b80b;
					text-align: center;
					font-family: $bold;
				//	@include font-size(30px);
					display: block;
					@include font-size(16px);
					margin: 24px 0 30px 0;
				//	line-height: 31px;
				}
		}
} //empresas
section.preguntas{
	position: relative;
	//padding: 30px;
		.bg-faq{
			position: absolute;
			@include centerer(true, false);
			top:0;
			z-index: 0;
		}
	h2{
			font-family: $black;
			@include font-size(28px);
			color: #fff;
			text-transform: uppercase;
			font-style: italic;
			margin-left: 25px;
			text-align: left;
			position: relative;
			margin-top: 20px;
			margin-bottom: 20px;

		}
	 .caja-texto-sombra{

	 }
} //faq
