
footer{
	//min-height: 560px;
	position: relative;
	padding: 40px;
	.logo-footer{
		margin-bottom: 20px;
		margin-top: 90px;
		@media(max-width: 767px){
					margin-top: 30px;
		}
	}
	.logos-footer{
		margin: 70px 0 0px 0;
		@media(max-width: 767px){
					margin: 20px 0 0px 0;
			   	}
	}

			p{

				color: #BBD1E2;
				font-family: $medium;
				text-transform: uppercase;
				text-align: center;
				@include font-size(20px);
				line-height: 20px;
				&.copy{
					text-transform: none;
				}
				@media(max-width: 767px){
					//line-height: 28px;
			   	}

		}
	}

