#modal-calcula{
	.modal-dialog{
		@media (min-width: 768px){
			width: 750px;
		    margin: 20px auto;
		}

		.modal-content{
			.modal-header{
				border-bottom: none;
				button{
					&.close{
						opacity: 1;
						margin-top: 20px;
						margin-right: 20px;
					}
				}
			}
			.modal-body{
				h2{
					@include font-size(50px);
					color: $gris;
					font-family: $black;
					text-transform: uppercase;
					@media (max-width: 767px){
						@include font-size(35px);
					}
				}
				h3{
					@include font-size(25px);
					text-align: center;
					color: #159fdd;
					font-family: $medium;
					text-transform: uppercase;
					margin-bottom: 30px;
				}
				p{
					@include font-size(25px);
					text-align: center;
					color: #159fdd;
					font-family: $medium;
					text-transform: uppercase;
					line-height: 24px;
					&.nota{
						@include font-size(20px);
					}
				}
				form#formCalculaCalorias{
					//background-color: tomato;
					.calculadora{
						min-height: 200px;
						position: relative;
						display: block;
						padding: 30px 0;

						.col-sm-3{
							width: 33% !important;
							text-align: center;
							@media(max-width:767px){
								@include font-size(20px);
									float: none;
									margin: 0 auto;

							}
						}

						.igual{
							position: absolute;
							top: 84px;
							right: 240px;
							@include font-size(50px);
							color: white;
							line-height:0;

							@media(max-width:767px){
								@include font-size(40px);
								left: 68px;
								top: 323px;
								color: white;
							}
						}
						p{
							color: white;
							font-family: $medium;
							@include font-size(25px);
							text-transform: uppercase;
							text-align: center;
							margin-top: 20px;
							@media(max-width:767px){
								@include font-size(12px);
								margin-top: 10px;
								margin-left: 10px;
							}
						}
						.bloque-blanco{
							width: 140px;
							height: 110px;
							background-color: #fff;
							border-radius: 6px;
							position: relative;
							@media(max-width:767px){
								width: 80px;
								height: 80px;
							}

						}
					}
					button{
						margin-bottom: 50px;
					}
					.form-group{
						position: relative;

						.form-control{
							width: 140px;
							height: 110px;
							background-color: #fff;
							border-radius: 6px;
							border: none;
							font-family: $bold;
							color: $gris;
							@include font-size(60px);
							text-align: center;
							padding: 0;
							letter-spacing: -2px;
							display: inline-block;
							@media(max-width:767px){
								width: 80px;
								height: 80px;
								@include font-size(40px);
							}

						}
					}
				}


			}
			.modal-footer{
					border-top: none;
				}
		}
	}
}


#modal-share{
	.modal-dialog{
		@media (min-width: 768px){
			width: 750px;
		    margin: 20px auto;
		}

		.modal-content{
			background-color: rgba(0,0,0,0.9);
			border-radius:0;
			.modal-header{
				border-bottom: none;
				padding-top: 30px;

				button{
					&.close{
						opacity: 1;
						margin-top: -50px;
						margin-right: 20px;
					}
				}
			}
			.modal-body{
				button{
					margin-bottom: 30px;
					&.bt-subir{
						padding-top: 30px;
					}
				}
				.img-wrap{
						position: relative;
						margin-bottom: 30px;
						display:inline-block;


						.img-post{
							width: 100%;
							max-width:450px;

						}
						.box-total-calorias{
							position: absolute;
							right:15px;
							bottom: 15px;
							p{
								@include font-size(20px);
								text-align: center;
								color: #fff;
								font-family: $black;
								text-transform: uppercase;
								margin: 0;
								padding: 0;
								@media (max-width: 480px){
										@include font-size(15px);
								}
								&.num-calorias{
									@include font-size(50px);
									font-family: $black;
									line-height: 1;
									@media (max-width: 480px){
										@include font-size(45px);
									}
								}
								&.sub-text{
									@include font-size(20px);
									font-family: $bold;
									border-bottom: 1px solid white;
									display: inline-block;
									@media (max-width: 480px){
										@include font-size(15px);
									}
								}
							}
						}
				}

				p{
					@include font-size(25px);
					text-align: center;
					color: #fff;
					font-family: $bold;
					text-transform: uppercase;
					//line-height: 24px;
					margin-bottom: 30px;

				}
				h2{
					@include font-size(50px);
					color: $celeste-menu;
					font-family: $black;
					text-transform: uppercase;
					margin-bottom: 30px;
					@media (max-width: 767px){
						@include font-size(35px);
					}
				}
				h4{
					@include font-size(40px);
					text-align: center;
					color: white;
					font-family: $black;
					text-transform: uppercase;
					margin-bottom: 30px;
					@media (max-width:767px){
						@include font-size(30px);
					}
				}




			}
			.modal-footer{
					border-top: none;
				}
		}
	}
}
