


	#main-nav{

		@media(max-width: 767px){
			min-height: 80px;
		}

		#navbar{

			background-color: $celeste-menu;
			padding-bottom: 30px;
			position: relative;
			border-color: transparent;
			box-shadow: none;
			background-color: $celeste-menu;


		}
	}




.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #0390d0;
    overflow: hidden;
    transition: 0.5s;

    	a{
			padding: 8px;
			text-decoration: none;
			font-size: 36px;
			color: #818181;
			display: block;
			transition: 0.3s;
	    	&:hover, &:focus{
				color: #f1f1f1;
	    	}
	}
	.closebtn {
	    position: absolute;
	    top:-30px;
	    right: 15px;
	    font-size: 60px;
	    color: white;
	    z-index: 100;
	}

	.overlay-content {
	    position: relative;
	    top: 0;
	    width: 100%;
	    text-align: center;
	    margin-top: 30px;
		    ul#nav-list{
		    	padding: 0;

		    	li{
		    		margin: 0;
		    		padding: 10px 0;
		    		background-color: $azul-item;
		    		display: block;

		    		&:first-child{
		    			margin-top: 40px;
		    		}
		    		&.active{
		    			background-color: transparent;
		    		}
		    		&.odd{
		    			background-color: $celeste-menu;
		    		}
		    		&.active a {
		    			// background-color: transparent;
		    			// color: lighten($vino, 20%);
		    		}

		    		a{
		    			text-align: center;
		    			text-transform: uppercase;
		    			@include font-size(40px);
		    			font-family: $black;
		    			color: white;
		    			@media(max-width: 1023px){
		    				@include font-size(20px);
		    			}
		    		}

		    	}
		    }
		}
}





