@media (max-width: 767px) { 
	section.aporte form {
	    width: 100%;
	}
	section.aporte form .form-group {
	    width: 140px;
	    height: 90px;
	    display: inline-block;
	    vertical-align: top;
	    float: none;
		margin-right: 10px;
	}
	#flechita{width: 10px; height: 90px; background: url(../img/flecha.png) no-repeat center center; background-size: contain; display: inline-block; vertical-align: top;  }
	section.aporte form .btn-enviar-calorias, section.aporte form .btn-enviar-calorias-eng{vertical-align: top; display: inline-block;}
	#numCalorias-error{font-size: 8px; color: #fff;}
	section.aporte form img {
	    position: absolute;
	    left: 46%;
	    top: 36px;
	    width: 4%;
	    bottom: auto;
	}
	section.aporte p.txt1 {
	    font-size: 0.70rem;
	    margin-bottom: 0px;
	}
	h2.title-aporte{font-size: 1.5rem;}
	section.aporte form .form-group .form-control {padding: 0px; font-size: 40px;}
	
	#modal-share .modal-dialog .modal-content .modal-body .bloque-imagen .img-wrap .box-total-calorias p {
	    position: absolute;
	    width: 100%;
	    top: 15%;
	}
	#modal-share .modal-dialog .modal-content .modal-body .bloque-imagen .img-wrap .box-total-calorias p.num-calorias {
	    top: 42%;
	}
	#modal-share .modal-dialog .modal-content .modal-body .bloque-imagen .img-wrap .box-total-calorias p.sub-text {
	    top: 73%;
	}
	
	#sharepaso1 a{color: #00a2e9; }
	#sharepaso1 a .fa-instagram{font-size: 34px;}
	.overlay .overlay-content ul#nav-list li{    padding: 5px 0;}
	.overlay .overlay-content ul#nav-list li a {font-size: 0.8rem; }



	section.ingresa .datos .form-group input[type="email"]::-webkit-input-placeholder, 
	section.ingresa .datos .form-group input[type="text"]::-webkit-input-placeholder, 
	section.ingresa .datos .form-group input[type="password"]::-webkit-input-placeholder,
	input[type="email"]::-webkit-input-placeholder, 
	input[type="text"]::-webkit-input-placeholder, 
	input[type="password"]::-webkit-input-placeholder{
		 font-weight: 400; color: #000000; font-size: 13px; font-size: 0.8125rem; text-transform: uppercase; letter-spacing: normal; text-align: left; 
	}
	section.ingresa .datos .form-group input[type="email"]::-moz-placeholder, 
	section.ingresa .datos .form-group input[type="text"]::-moz-placeholder, 
	section.ingresa .datos .form-group input[type="password"]::-moz-placeholder,
	input[type="email"]::-moz-placeholder, 
	input[type="text"]::-moz-placeholder, 
	input[type="password"]::-moz-placeholder{
		 font-weight: 400; color: #000000; font-size: 13px; font-size: 0.8125rem; text-transform: uppercase; letter-spacing: normal; text-align: left; 
	}
	section.ingresa .datos .form-group input[type="email"]:-ms-input-placeholder, 
	section.ingresa .datos .form-group input[type="text"]:-ms-input-placeholder, 
	section.ingresa .datos .form-group input[type="password"]:-ms-input-placeholder,
	input[type="email"]:-ms-input-placeholder, 
	input[type="text"]:-ms-input-placeholder, 
	input[type="password"]:-ms-input-placeholder{
		 font-weight: 400; color: #000000; font-size: 13px; font-size: 0.8125rem; text-transform: uppercase; letter-spacing: normal; text-align: left; 
	}
	section.ingresa .datos .form-group input[type="email"]:-moz-placeholder, 
	section.ingresa .datos .form-group input[type="text"]:-moz-placeholder, 
	section.ingresa .datos .form-group input[type="password"]:-moz-placeholder,
	input[type="email"]:-moz-placeholder, 
	input[type="text"]:-moz-placeholder, 
	input[type="password"]:-moz-placeholder{
		 font-weight: 400; color: #000000; font-size: 13px; font-size: 0.8125rem; text-transform: uppercase; letter-spacing: normal; text-align: left; 
	}
	section.ingresa .con-email .form-group .form-control, section.ingresa .datos .form-group .form-control, section.ingresa .datos .form-group .form-control,
	section.login .con-email .form-group .form-control, section.login section.ingresa .datos .form-group .form-control, section.ingresa section.login .datos .form-group .form-control, section.login section.ingresa .datos .form-group .form-control, section.ingresa section.login .datos .form-group .form-control{font-weight: 400; color: #000000; font-size: 13px; font-size: 0.8125rem; text-transform: uppercase; letter-spacing: normal; text-align: left; }
	section.login .fecha-nac label {
	    margin: 0 10px;
	}
		
	section.ingresa .datos .form-group select.form-control {
	    font-family: inherit;
	    background-color: #fff;
	    color: #000;
	    font-size: 0.8125rem;
	    font-weight: 400;
	}
	section.ingresa .con-email, section.ingresa .datos, section.ingresa .datos{padding: 20px 15px 10px;}
	section.ingresa .datos .form-group{margin: 0 auto 20px auto;}
	header.fondo-celeste {
	    min-height: 100px;
	}
	header.fondo-celeste .center {
	    width: 20%;
	}
	#modal-calcula .modal-dialog .modal-content .modal-body form#formCalculaCalorias .calculadora{
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0390d0+0,0271b2+100 */
		background: #0390d0; /* Old browsers */
		background: -moz-linear-gradient(top, #0390d0 0%, #0271b2 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #0390d0 0%,#0271b2 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #0390d0 0%,#0271b2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0390d0', endColorstr='#0271b2',GradientType=0 ); /* IE6-9 */
	}
	.logoazul{position: absolute; width: 70px; left: 50%; margin-left: -35px;}
	#modal-calcula .modal-body{margin-top: 20px;}
	section.aporte form .btn-enviar-calorias-eng {
    	background-image: url(../img/btn-donar-eng.png);
	}
	#modal-calcula .modal-dialog .modal-content .modal-body form#formCalculaCalorias .calculadora .bloque-blanco {
	    width: 100%;
	    height: auto;
	    position: relative;
	}
	#modal-calcula .modal-dialog .modal-content .modal-body form#formCalculaCalorias .calculadora .bloque-blanco:after { content: ""; display: block; padding-bottom: 100%; }
	#modal-calcula .modal-dialog .modal-content .modal-body form#formCalculaCalorias .form-group .form-control {width: 100%;
	    font-size: 1.3rem;
	    display: block;
	    position: absolute;
	    transform: translate(-50%, -50%);
	    left: 50%;
	    top: 50%;
		height: 100%;
	}
    #modal-calcula .modal-dialog .modal-content .modal-body form#formCalculaCalorias .calculadora .igual{
	    transform: translate(-50%, -50%);
	    left: -50%;
	    top: 50%;
	    height: 100%;
	    line-height: 200%;
    }
    
    .slider-wrapper {
	    width: 75%;
	}
	.slider-iconos .owl-next, .slider-iconos .owl-prev {
	    width: 15px;
	    height: auto;
	    background-size: contain !important;
	    background-repeat: no-repeat;
	    background-position: center;
	    transform: translate(50%,50%);
	}
	.slider-iconos .owl-prev {
	    background-image: url(../img/prev.png) !important;
	}
	.slider-iconos .owl-next {
	    background-image: url(../img/next.png) !important; right: -35px;
	}
	.owl-carousel .owl-item img{width: 70%; text-align: center; margin: 0 auto;}
	.slider-iconos,
	.slider-wrapper,
	#modal-calcula .modal-dialog .modal-content .modal-body form#formCalculaCalorias button {
	    margin-bottom: 30px;
	}
	#modal-calcula .modal-dialog .modal-content .modal-body form#formCalculaCalorias .calculadora p {
		font-size: 0.5rem;
	    margin-top: 0;
	    margin-left: -20px;
	    margin-right: -20px;
	}
	#modal-calcula .modal-dialog .modal-content .modal-body p.nota{line-height: 17px;}
	#modal-calcula .modal-dialog .modal-content .modal-body h2{font-size: 1rem;}
	#modal-calcula .modal-dialog .modal-content .modal-body h3{margin-bottom: 20px;}
	.overlay{overflow: scroll;}
	
	
	#lafotito{position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    background-size: cover;
    background-position: center center;}
    
    
    .olvide{color: #fff; text-decoration: underline; display: inherit; text-align: center;}
    
    section.login .fecha-nac .bt-naranjo {
	    padding: 12px 0 0px 0;
	}
	.titrecuperar{text-transform: uppercase;
    margin: 20px 0;
    text-align: center;
    color: #9d9d9d;}
    section.recuperar{background: #fff; margin-bottom: 0; padding-bottom: 40px;v}
    section.recuperar .bt-naranjo { font-size: 1.1rem;	}
	section.recuperar .con-email .form-group{margin-top: 10px;}
	section.recuperar .con-email { margin-bottom: 30px;
		-webkit-box-shadow: 0px 34px 60px -23px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 34px 60px -23px rgba(0,0,0,0.75);
		box-shadow: 0px 34px 60px -23px rgba(0,0,0,0.75);
	}
	#form-login .error{color: #fff; font-size: 10px; text-align: center;}
}

