
.mw{
	max-width: 750px;
}



.linea-azul-xs{
	width: 30px;
	height: 3px;
	background-color: #0870a6;
	display: block;
	margin-bottom: 15px;

}
.mb-100{
	margin-bottom: 100px !important;
}
.mb-30{
	margin-bottom: 30px !important;
}
.mb-50{
	margin-bottom: 50px !important;
}
.pb-100{
	padding-bottom: 100px !important;
}
.llamado{
		font-family: $black;
		@include font-size(30px);
		color: white;
		//text-transform: uppercase;
		font-style: italic;
		line-height: 24px;
		background-color: $naranjo;
		width: 100%;
		padding: 20px 0;
		margin-bottom: 30px;
		text-align: center;
}
.texto-azul{
		font-family: $black;
		@include font-size(35px);

		text-transform: uppercase;

	color:#0870a6;
	margin: 0;
	padding: 0;
	display: inline-block;
	line-height: 1;

}
.texto-amarillo{
	font-family: $black;
		@include font-size(35px);
		text-transform: uppercase;
	color: $amarillo;
	margin: 0;
	padding: 0;
	display: inline-block;
	line-height: 1;
}
.texto-naranjo-bold{
	color: #f28715;
	font-family: $bold;
}
.texto-naranjo-bold{
	color: $naranjo;
	font-family: $bold;
}
.bloque-amarillo{
	background-color: #f8b80b;
	margin: 0;
	padding: 15px 26px;
	h2{
		font-family: $black;
		@include font-size(16px);
		color: white;
		text-transform: uppercase;
		margin-bottom: 10px;
		font-style: italic;
		float: left;

	}
	h3{
		font-family: $medium;
		@include font-size(33px);
		color: $naranjo;
		text-transform: uppercase;
	}
	p{
		font-family: $medium;
		@include font-size(15px);
		color: white;
		//text-transform: uppercase;
		font-style: italic;
		line-height:18px;

	}
}
.bloque-celeste{
		padding: 15px 26px;
		background: #00a2e9;
		background: -moz-linear-gradient(top, #00a2e9 0%, #00a2e9 100%);
		background: -webkit-linear-gradient(top, #00a2e9 0%,#00a2e9 100%);
		background: linear-gradient(to bottom, #00a2e9 0%,#00a2e9 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a2e9', endColorstr='#00a2e9',GradientType=0 );
		&.borde-amarillo{
			border-bottom: 10px solid $amarillo;
			width: 100%;
			//height: 10px;
			display:block;
		}

		p{
			font-family: $medium;
			@include font-size(15px);
			color: white;
			margin-bottom: 20px;
			line-height: 18px;
			//text-transform: uppercase;
			&.hash{
				font-family: $black;
				@include font-size(15px);
				color: white;

			}
		}
}
.hash{
	font-family: $black;
	@include font-size(23px);
	color: white;

}
.padding-30{
	padding: 20px 20px 0 20px;
}
.caja-texto-sombra{
	box-shadow: 1px 1px 17px 3px rgba(0,0,0,0.31);
	width: 90%;
	//padding: 30px;
	background-color: #fff;
	display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    max-width:680px;
    margin-bottom: 30px;

    ul{
    	margin: 0;
    	padding: 0;
    	li{
			font-family: $medium;
				@include font-size(30px);
//				text-transform: uppercase;
			color: $gris;
			margin-bottom: 30px;
			padding: 0;
			//display: inline-block;
			line-height: 1;
    	}
    }
    p{
			font-family: $medium;
		//	@include font-size(px);
			//				text-transform: uppercase;
			color: #8a8989;
			//margin-bottom: 30px;
			//padding: 30px 20px 30px 20px;
			//display: inline-block;
			line-height: 18px;
			&.texto-azul, span.texto-azul{
				font-style :italic;
				color: #0870a6;
				@include font-size(15px);
				margin-bottom: 0;
				line-height: 18px;
			//	padding: 30px 0 0 30px;
			}
			span.texto-amarillo{
				@include font-size(15px);
				margin-bottom: 0;
				display: block;
				margin-top: -1px;
				//padding: 0px 0 0 30px;
			}
    }
    ul{
    	border-top: 1px solid $amarillo;
    	padding-top: 15px;
    	list-style: none;
    	li{
    		&::before{
    			content: "•";
    			color: $amarillo;
    			margin-right: 5px;
    		}
    		@include font-size(15px);
    		color: #8a8989;
    		line-height: 18px;
    	}
    }

}

.pie-de-caja{

		padding: 20px 0px;
		text-align: center;
		background-color: #e7e7e7;
		display: block;
		margin-right: auto;
		margin-left: auto;
		width: 100%;

    	.hash{
			color: $naranjo;
			margin-bottom: 0;
    	}
    	&.huincha{
		border-bottom: 10px solid #0870a6;
    	position: absolute;
		bottom: 0px;
		left: 0;
    	}
    	&.bloque-gris{
    		position: absolute;
			bottom: 0px;
			left: 0;
			height: 20px;
			padding: 0;
    	}
    }
.texto-amarillo-italic{
	font-family: $black;
		@include font-size(35px);
		color: white;
		text-transform: uppercase;
		font-style: italic;
		margin-bottom: 30px;
		text-align: left;
		//margin-bottom: 20px;
			@include font-size(40px);
			color: $amarillo;
		}


.back{
	@include link;
	font-family: $medium;
	@include font-size(20px);
	color: $naranjo;
	text-transform: uppercase;
	text-decoration:none ;
	border-bottom: 3px solid $naranjo;
	padding-bottom: 4px;
	float: left;
	display:inline-block;
	margin-bottom: 40px;
	text-decoration: none !important;
	&:hover, &:focus{
		color: darken($naranjo, 10%);
	}
}
	.txt-naranjo{
		color: #f79d2c;
		font-family: $black;
	}
	.txt-amarillo{
		color: #f8ba0b;
		font-family: $black;
	}
	.linea-gris{
		max-width: 600px;
		height: 2px;
		border-bottom: 3px solid $gris;
		margin-bottom: 30px;
	}
	h2{

		font-family: $black;
		text-transform: uppercase;
		margin: 0;
		text-align: center;

		&.title-aporte{
			background-color: white;
			@include font-size(75px);
			color: $gris;
			padding: 50px 0 20px 0;
			line-height: 70px;
			@media(max-width: 767px){
				@include font-size(60px);
				line-height: 56px;
	   		}

		}
		&.title-status{
			@include font-size(70px);
			color: $naranjo;
			//padding: 50px 0 20px 0;
			line-height: 70px;
			@media(max-width: 767px){
				@include font-size(50px);
				line-height: 56px;
	   		}

		}


	}

//.hide-beta{display: none !important;}

	.fondo-azul{
		background: #258dc8;
		background: -moz-radial-gradient(center, ellipse cover, #258dc8 0%, #258dc8 100%);
		background: -webkit-radial-gradient(center, ellipse cover, #258dc8 0%,#258dc8 100%);
		background: radial-gradient(ellipse at center, #258dc8 0%,#258dc8 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=1 );
	}
	.fondo-azul-2{
		background: #0874ac;
		background: -moz-linear-gradient(top, #0874ac 0%, #00435e 100%);
		background: -webkit-linear-gradient(top, #0874ac 0%,#00435e 100%);
		background: linear-gradient(to bottom, #0874ac 0%,#00435e 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0874ac', endColorstr='#00435e',GradientType=0 );
	}

	.fondo-celeste{
		background: #00a2e9;
		background: -moz-linear-gradient(top, #00a2e9 0%, #00a2e9 100%);
		background: -webkit-linear-gradient(top, #00a2e9 0%,#00a2e9 100%);
		background: linear-gradient(to bottom, #00a2e9 0%,#00a2e9 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a2e9', endColorstr='#00a2e9',GradientType=0 );
	}
	.fondo-degradado-naranja{
		background: #fac118; /* Old browsers */
		background: -moz-linear-gradient(top, #fac118 0%, #f8763e 44%, #f55f2c 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #fac118 0%,#f8763e 44%,#f55f2c 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #fac118 0%,#f8763e 44%,#f55f2c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac118', endColorstr='#f55f2c',GradientType=0 ); /* IE6-9 */
	}
	.bg-footer{
		background: #0874ac; /* Old browsers */
		background: -moz-linear-gradient(top, #0874ac 0%, #00435e 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #0874ac 0%,#00435e 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #0874ac 0%,#00435e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0874ac', endColorstr='#00435e',GradientType=0 ); /* IE6-9 */
	}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 40px;
    background: black;
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 35px;
    display: none;
  //  -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 100;
    &:hover, &:focus{
    	background: rgba(0, 0, 0, 0.9);
    	i{
    		top: 5px;
    	}
    }
    i{
    		color: #fff;
    	    margin: 0;
    	    position: relative;
    	    left: 16px;
    	    top: 13px;
    	    font-size: 19px;
    	  //  -webkit-transition: all 0.3s ease;
    	    transition: all 0.3s ease;
    }
}


.btn-ingresa{
	background-color: $naranjo;
	position: absolute;
	right: 0;
	text-align: center;
	//width: 100px;
	//height: 42px;

	a{
		display:block;
		cursor: pointer;
		font-weight: 800;
		width: 100px;
		height: 42px;
		@include font-size(12px);
		font-style: italic;
		text-transform: uppercase;
		text-decoration: none;
		@include link;
		color: white;
		padding-top: 10px;
		&:hover &:focus{
			color: black;
		}
	}
}
.bt-naranjo{
		background-color: $naranjo;
			border: none;
		//display:block;
		//cursor: pointer;
		//font-weight: 800;
		//width: 100px;
		//height: 42px;
		padding: 40px 70px 30px 70px;
		@include font-size(40px);
		//font-style: italic;
		font-family: $black;
		@include link;
		color: white;
		text-transform: uppercase;
		border-bottom: 15px solid #f45223;
		&:hover, &:focus{
			color: white;
			background-color: lighten($naranjo, 5%);
		}
		@media(max-width:768px){
			padding: 20px;
			@include font-size(30px);
		}

}
.bt-ok{
	padding: 30px 150px 20px 150px;
	@media(max-width:767px){
			padding: 40px 90px 30px 90px;
			@include font-size(30px);
		}
}



.section{
 	margin-bottom: 40px;

}

	.title-bar{
			width: 50px;
			height: 10px;
			background-color: $naranjo;
		//	position: absolute;
		//	bottom: -15px;
			display: block;
			}



.section-title-wrapper{
	margin-bottom: 50px;
	.title-img{
		width: 50px;
		float:left;
		display: inline-block;
		margin-top: 15px;
		margin-left: 15px;
		img{
			vertical-align: top;
		}
		@media(max-width: 768px){

 		}
	}
	.title-text{
		position:relative;
		min-height: 50px;
		//background-color: tomato;
		//max-width: 500px;
		display: inline-block;
		margin-left: 30px;


		h2{
			@include font-size(35px);
			text-transform: uppercase;
			color: $celeste-title;
			font-weight: 700;
			margin: 0 0 0 0px;
			padding: 0;
			line-height: 36px;
			// @media(max-width: 768px){
			// 	@include font-size(30px);
			// }
			&.title-tutorial{
				color: $azul-title;
			}
		}
		.title-bar{
			width: 50px;
			height: 10px;
			background-color: $naranjo;
			position: absolute;
			bottom: -15px;
			//float: right;
			&.title-politica{
				left: 150px;
			}
			&.title-procesos{
				left: 189px;
			}
			&.tutoriales{
				background-color: #fff;
				height: 5px;
				left: 100px;
				//left:
			}

		}
	}
}

.title-rounded{
	position: absolute;
	background-color: #fff;
	border-radius: 6px;
	top: -95px;
	padding: 0 20px 0 20px;
	@media (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
		top: -74px;
	}
	@media(max-width: 767px){
		top: -75px;
	}
}
.card{
	min-height: 320px;
	padding: 30px 30px 0 15px;
	background-color:$cyan;
	position: relative;
	overflow: hidden;
	@media(max-width: 768px){
		padding: 20px;
		margin-bottom: 15px;
	}
	h3{
		@include font-size(20px);
		text-transform: uppercase;
		color:white;
		//background-color: $naranjo;
		font-weight:600;
		//max-width: 80%;
		//padding: 10px;
		line-height: 32px;
		margin-bottom: 8px;

		// @media(max-width: 768px){
		// 	@include font-size(16px);
		// }
		span{
			background-color: $naranjo;
			padding: 0px 15px;
			box-decoration-break: clone;
		}
	}
	p{
		@include font-size(15px);
		font-weight:400;
		color: white;


	}

}

h1 {
  font-weight: 800;
  font-size: 5em;
  line-height: 1.35em;
  margin-bottom: 40px;
  color: #fff;
}
h1 span {

}




.overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	//display: block;
	z-index: 99;
	position: fixed;
	&.chamber{
		display: block;
	}
}


@media(max-width:767px){
			/*permite centrar horizontalmente la lista de redes en mobile*/
			.center-xs{
				display: table;
				margin: 0 auto;
			}
	}

	.center{
		@include centerer(true, true);
	}
	.center-h{
		@include centerer(true, false);
	}
	.center-v{
		@include centerer(false, true);
	}
	.borde-lr{
		border-left: 1px solid $vino;
		border-right: 1px solid $vino;
	}
	.border-box{
		max-width: 700px;
		border: 4px solid $gris-borde;
		position: relative;
		padding: 15px 30px 15px 30px;
		margin-bottom: 50px;
		min-height: 80px;
		@media(max-width: 768px){
			margin-bottom: 30px;
			padding: 15px;
			max-width: 90%;
		}

		ul{
			padding: 0;
			margin: 0;
			list-style-type: none;
			li{
				@include font-size(15px);
				font-weight: 300;
				color: $verde;
				text-transform: capitalize;
		//		padding: 0 40px;
			}
		}

		.punto-l{
				@include centerer(false, true);
				left: -11px;
			.cuadrado{
				width: 20px;
				height: 20px;
				background-color: white;
				z-index: 10;
				position: relative;
				.circle{
					border-radius: 50%;
					width: 8px;
					height: 8px;
					background-color: $gris-borde;
					@include centerer(true, true);
				}
			}
		}
		.punto-r{
			@extend .punto-l;
			left: auto;
			right: -11px;

			// 	@include centerer(false, true);
			// 	right: -11px;
			// 	.cuadrado{
			// 	width: 20px;
			// 	height: 20px;
			// 	background-color: red;
			// 	z-index: 10;
			// 	position: relative;
			// 	.circle{
			// 		border-radius: 50%;
			// 		width: 8px;
			// 		height: 8px;
			// 		background-color: blue;
			// 		@include centerer(true, true);
			// 	}
			// }
		}


	} // border box
	.content{
		padding: 0em 7.500em;
		margin-bottom: 100px;
		@media(max-width: 768px){
			padding: 0em;
			margin-top: 50px;
			margin-bottom: 50px;
		}
		h2{
			font-family: $bold;
			color: $vino;
			text-transform: uppercase;
			@include font-size(60px);
			@media(max-width: 768px){
				@include font-size(34px);
			}
			@media(max-width: 767px){
				@include font-size(30px);
				margin-bottom: 30px;
			}
		}

		p{
			font-weight: 300;
			@include font-size(15px);
			color: $verde;
			margin-bottom: 2.188em;
		}
	}




.mt-0{
	margin-top: 0 !important;
}
.mb-0{
	margin-bottom: 0 !important;
}
.pt-0{
	padding-top: 0 !important;
}
.pb-0{
	padding-bottom: 0 !important;
}
.pt-20{
	padding-top: 20px;
}
.mb-40{
	margin-bottom: 40px;
}

.rectangulo-h{
	display: block;
	width: 40px;
	height: 3px;
	background-color: $vino;
	margin: 0 auto;
}

.mh-500{
	min-height: 500px;
}
li.divisor-item-menu{
	display: none;
	@media(min-width: 768px){
		display: block;
	}
}
li.divisor-item-sub-menu{
	display: none !important;
	@media(min-width: 768px){
		display: inline-block !important;
	}
}




.pt-200{
	padding-top: 200px;
}
.mt-50{
	margin-top: 50px;
}

.position-relative{
	position: relative !important;
}
.position-absolute{
	position: absolute !important;
}

.link {
	@include link;
	text-transform: uppercase;
	letter-spacing: 4px;
	display: inline-block;
//	margin: 30px auto 0 auto;
	@include font-size(10px);
	border-bottom: 1px solid $negro;
	margin-top: 30px;
	line-height: 20px;
	&:hover{
		border-bottom-color: $cafe;
	}
}





.overflow-hidden{
  overflow: hidden !important;
  display: block;
}



.underline{
  display: inline-block;
  line-height: 8px;
  border-bottom: 1px solid $negro;
  padding: 0 0 7px 0;

}
.no-padding {
  padding: 0 !important;
//  display: block;
	.row{
		margin-left: 0;
		margin-right: 0;

	}
   @media(max-width: 991px){
   		padding-left: 15px;
   		padding-right: 15px;
   }

  }
.no-margin {
  margin: 0 !important;
  display: block !important;
 }

.clear {
  clear: both !important;
}


@mixin boton-negro{

  background-color: $negro;
  border: none;
  text-transform: uppercase;
  color: white;
  @include regular(11px, white);
  border-radius: 0;
  letter-spacing: 4px;
  cursor: pointer;
}

.boton-submit{
	@include link;
	background-color: #a53b69;
	border-color: #a53b69;
	border-radius: 0;
	font-size: 1rem;
	font-weight: 700;
	height: 60px;
	//margin-top: 15px;
	letter-spacing: 3px;
	//margin-bottom: 30px;
	color: white;
	text-transform: uppercase;

	&:hover, &:focus{
		background-color: #682944;
		border-color: #682944;
		color: white;
	}
}

input[type="email"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder

 { /* Chrome/Opera/Safari */
  @include regular(13px, $negro);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;

   @media(max-width:1024px){
      @include font-size(11px);
    }
}


input[type="email"]::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder

 { /* Firefox 19+ */
  @include regular(13px, $negro);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
   @media(max-width:1024px){
      @include font-size(11px);
    }
}


input[type="email"]:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder

 { /* IE 10+ */
  @include regular(13px, $negro);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
   @media(max-width:1024px){
      @include font-size(11px);
    }
}


input[type="email"]:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder

 { /* Firefox 18- */
  @include regular(13px, $negro);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
   @media(max-width:1024px){
      @include font-size(11px);
    }
}
