//colores sitio


$gris-claro: #f8f6ef;
$gris-borde: #c5c5c5;
$gris-oscuro: #282828;
$invierno: #f7f5f6;
$gris-caja: #f0eeee;
$gris-texto-caja-conacto: #414141;
$gris-testimonio: #383838;
$rosa:#ECCCD0;
$cafe: #86754D;
$negro: #000000;
$vino: #682944;
$verde: #616552;
$crema: #e3dcd9;
 $negro: #000000;

$azul-fondo: #012a36;
$azul-title: #176b8a;
$celeste-fondo: #bedde0;
$celeste-title: #059eb7;
$texto-negro: #3a3a3a;
$texto-faq: #012a36;
$cyan: #81c9d0;


// colores burn
$bg-gris: #ebebeb;
$gris:#a7a7a7;
$amarillo :#fdd80a;
$naranjo: #ed611c;
$celeste-menu:#0390d0;
$azul-item: #1aa4e3;

$beige: #f79d2c;










